[*.rb]
indent_style = tab
indent_size = 2

[*.erb]
indent_style = tab
indent_size = 2

[Gemfile*]
indent_style = tab
indent_size = 2

[*.css]
indent_style = tab
indent_size = 2

[*.scss]
indent_style = tab
indent_size = 2

[*.js]
indent_style = tab
indent_size = 2

[*.html]
indent_style = tab
indent_size = 2

[*.xml]
indent_style = tab
indent_size = 2

[*.md]
indent_style = tab
indent_size = 4

[*.markdown]
indent_style = tab
indent_size = 4
