<footer id="site-footer">
	<h3 class="footer-title">Partners</h3>

	<ul class="partners-list">
		<li>
			<a href="http://www.yourgolftravel.com">
				<%= image_tag "logo-ygt.png", :title => "Your Golf Travel", :alt => "Your Golf Travel" %>
			</a>
		</li>
		<li>
			<a href="http://www.clevelandgolf.com">
				<%= image_tag "logo-cleveland.png", :title => "Cleveland Golf", :alt => "Cleveland Golf" %>
			</a>
		</li>
	</ul>
</footer>
