<header id="site-header">
	<div class="logo ir">
		Legends Pro-Am Series
	</div>

	<nav id="main-nav">
		<ul class="nav nav--banner nav--block nav--fit">
			<li><a href="#">Event</a></li>
			<li><a href="#">Venues</a></li>
			<li><a href="#">Ambassadors</a></li>
			<li><a href="#">Contact</a></li>
		</ul>
	</nav>
</header>