<div class="register-box">
	<h3 class="register-title">How to take part...</h3>
	<p>We are limited to 25 teams at each venue, so contact us as soon as possible to register your interest and take part.</p>
	<a href="/contact" class="btn">Register Today <i class="icon-right-1"></i></a>
</div>
