---
layout: layout
title: Contact Us
---

<div class="grid--main banner">

	<div class="grid__item one-whole">
		<h1 class="page-title"><%= current_page.data.title %></h1>
	</div>

 	<div class="grid__item one-whole">
 		<p>For more information or to submit an entry, please contact Katie Burman or Lee Barham.</p>
	</div>

	<div class="grid__item one-half">
		<dl class="contact-info">
			<dt>Katie Burman</dt>
			<dd><a href="mailto:katie.burman@yourgolftravel.com">katie.burman@yourgolftravel.com</a></dd>
			<dd>0207 336 5360</dd>
		</dl>
	</div>

	<div class="grid__item one-half">
		<dl class="contact-info">
			<dt>Lee Barham</dt>
			<dd><a href="mailto:ee.barham@yourgolftravel.com">lee.barham@yourgolftravel.com</a></dd>
			<dd>0207 336 5346</dd>
		</dl>
	</div>

</div>