---
layout: layout
title: Event
---

<div class="grid--main banner">

	<div class="grid__item one-whole">
		<h1 class="page-title"><%= current_page.data.title %></h1>
	</div>

 	<div class="grid__item five-twelfths">
		<p>The <strong>Legends Series</strong> offers golfers a fantastic opportunity to take part in a Pro-Am event for which we are pleased to have Masters winner and previous World No.1 Ian Woosnam as the Ambassador.</p>

		<p>Labelled as three of the finest courses in the South of England, Woburn Golf Club, Stoke Park and The London Club will host the events at which we will be joined by other sports personalities such as David Seaman, Zinzan Brooke, Les Ferdinand and Lee Dixon.</p>

		<p>Each team of three amateur golfers will be completed by an 'Over 45' Professional to include famous golfing names like Bill Longmuir, Roger Chapman and Gordon Brand Jnr.</p> 

		<p>We want you to see the professionals at their best in full competition mode, so they will each be competing for an individual prize fund!</p>

		<p>The <strong>Legends Series</strong> is a great way to entertain clients with first-class hospitality and play alongside a great golfer for some great prizes, including holidays courtesy of <a href="http://www.yourgolftravel.com" title="Your Golf Travel">Your Golf Travel</a>.</p>
	</div>

	<div class="grid__item--itinerary six-twelfths push--one-twelfth">
		<h2 class="itinerary-title">Itinerary</h2>

		<p><strong>The event will take place as follows:</strong></p>

		<dl class="itinerary-list">
			<dt>Woburn Golf Club</dt>
			<dd>Tuesday 27th August</dd>
			<dt>The London Club</dt>
			<dd>Wednesday 25th September</dd>
			<dt>Stoke Park</dt>
			<dd>Tuesday 1st October</dd>
		</dl>

		<div class="activity-info">
			<p>The timings for each of the days will be confirmed in due course, so please revisit this page  for updates. However, each day the activities will include the following:</p>
		
			<ul class="activity-list">
				<li>Registration, breakfast & collection of goody bags</li>
				<li>18 holes of golf</li>
				<li>Three course dinner, entertainment & prize presentation</li>
			</ul>
		</div>
	</div>

	<div class="grid__item six-twelfths push--six-twelfths">
		<div class="register-box">
			<h3 class="register-title">How to take part...</h3>
			<p>We are limited to 25 teams at each venue, so contact us as soon as possible to register your interest and take part.</p>
			<a href="/contact" class="btn">Register Today <i class="icon-right-1"></i></a>
		</div>
	</div>

</div>