---
layout: layout
title: Legends Pro-Am Series
---

<div class="grid--main banner">

	<div class="grid__item one-whole">
		<h1 class="page-title"><%= current_page.data.title %></h1>
	</div>

	<div class="flexbox">
	 	<div class="flexbox__item--feature one-third">
			<h2 class="section-title">What is the Legends Series?</h2>

			<p>The <strong>Legends Series</strong> offers golfers a fantastic opportunity to take part in a Pro-Am event for which we are pleased to have Masters winner and previous World No.1 Ian Woosnam as the Ambassador.</p>

			<a href="/event" class="btn">Find out more <i class="icon-right-1"></i></a>
		</div>

		<div class="flexbox__item--feature one-third">
			<h2 class="section-title">How can I take part?</h2>

			<p>You need a team of three amateur golfers and one professional golfer. Contact us today to submit your team and play in the Legends Series.</p>

			<a href="/contact" class="btn">Register Today <i class="icon-right-1"></i></a>
		</div>

		<div class="flexbox__item--feature one-third last">
			<h2 class="section-title">Who is involved?</h2>

			<p>Bill Longmuir, Roger Chapman and Gordon Brand Jnr are just three of the many professionals that will be involved. Find out more about our Ambassadors.</p>

			<a href="/ambassadors" class="btn">Find out more <i class="icon-right-1"></i></a>
		</div>
	</div>
</div>
