---
layout: layout
title: Venues
---

<div class="grid--main banner">

	<div class="grid__item one-whole">
		<h1 class="page-title"><%= current_page.data.title %></h1>
	</div>

 	<div class="grid__item seven-twelfths">
 		<h2 class="subheading">The Legends Pro-Am Series will be hosted at three of England’s greatest venues: Woburn, The London Club and Stoke Park.</h2>

 		<p>On 27th August, the Legends Pro-Am Series will take place at Woburn. With its towering pine trees it is the first 54-hole venue to have three courses in the top 100 courses, UK and Ireland. The event at Woburn will be run in conjunction with the Seve Ballesteros foundation for Cancer Research where plenty of his friends will attend.</p>

		<p>Next the Legends Series will visit The London Club which has two immaculate courses. The Heritage, designed by Jack Nicklaus, has staged the European Open in recent years and the International, which is currently staging regional qualifying events for the Open Championship.</p>

		<p>Finally the Legends Series will move to Stoke Park, where movie stars have worked their magic alongside top golfers and thousands of visitors on what is a wonderful piece of rolling Buckinghamshire countryside... just seven miles from London Heathrow.</p>
	</div>

	<div class="grid__item four-twelfths push--one-twelfth">
		<%= partial "register" %>
	</div>

</div>